body {
	padding-top: 50px;
	color: #959595;
}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
.feature {
	background-color: white;
	color: #F7CAC9;
	font-family: Luminari, fantasy;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}

.jumbotron.feature {
	background-image: url('alfonse5.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.jumbotron.feature {
	  background-attachment: scroll;
	}
  }
  
  /* For iPad 6th generation in portrait orientation and smaller screens */
  @media (max-width: 767px), (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.jumbotron.feature {
	  background-size: contain;
	  background-position: center center;
	}
  }
  
  /* For screens larger than iPad 6th generation */
  @media (min-width: 1025px) {
	.jumbotron.feature {
	  background-size: cover;
	}
  }



.container img {
	max-width: 100%;
	height: auto;
}